<div class="header"><span class="h">Магазин <?=$ads_manage->head?></span> <div class="price-category-block-output kart"><div style="float:left; font-size: 20px; position: relative; top:4px; left:-5px; color: #fcfbf8;">Ценовая категория:</div> <?=$cc_images?></div></div>
<div >
<table class="s_add" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" width="299">
            <div class="img_cont">
               		<ul id="files" >
                            <li class="<?php if ($thumb_images[0]==''){?>no_photo<?php }?> main"><?=$thumb_images[0]?></li>
                    </ul>
            </div>
        </td>
        <td valign="top" class="left" align="left" width="467">
            <div style="margin: 5px 0 0px 20px;">
                <span class="head">Описание</span>
                <div class="description">
                <?=$ads_manage->descript?>
                </div>
            </div>
                
        </td>
        <td valign="top" class="left" align="left">
            <div style="margin: 5px 0 0 10px;">
                <span class="head">Адрес</span>
                <?=$ads_manage->adress?><br />
                <?php if ((int)$ads_manage->raiyon) {?>Район: &nbsp;<?=$ads_manage->get_raiyon($ads_manage->raiyon)?><br /><?php }?>
                <?php if ((int)$ads_manage->metro) {?>Метро: &nbsp;<?=$ads_manage->get_metro($ads_manage->metro)?><br /><?php }?>
                <?php if ($ads_manage->phone1){?>
                Тел.: &nbsp;<?=$ads_manage->phone1?><br />
                <?php }?>
                <?php if ($ads_manage->phone2){?>
                Тел.: &nbsp;<?=$ads_manage->phone2?><br />
                <?php }?>
                <?php if ($ads_manage->phone3){?>
                Тел.: &nbsp;<?=$ads_manage->phone3?><br />
                <?php }?>
                <?php if ($ads_manage->worktype){?>
                  Режим работы: &nbsp;<?=$ads_manage->worktype?><br />
                <?php }?>
                <?php if ($ads_manage->email){?>
                e-mail: &nbsp;<a href="mailto:<?=$ads_manage->email?>"><?=$ads_manage->email?></a><br />
                <?php }?>
                <?php if ($company_data){?>
                    <strong><a href="<?=$company_url?>" class="lk">Перейти на сайт компании</a></strong><br />
                <?php }?>
                <?php if ($ads_manage->site){?>
                <a href="<?=Utils_Link::trueLink($ads_manage->site)?>"><?=$ads_manage->site?></a><br />
                <?php }?>
            </div>    
        </td>
    </tr>

</table>
<div class="list_category" style="margin-top: 20px;">
    <?php
    $i=0; 
    $list_category = array();
    
    $razdel_array = array();
    
    foreach($ads_manage->category as $cat){
        $info = $category->get_category_full_info($cat);
        
        
        
        if ($info['level'] == 1 || $info['level'] == 2)
            $list_category[] = $cat;

    }
    $full_info = $category->create_tree($ads_manage->category);
    echo $category->show_tree($full_info);

    ?>
</div>
<br style="clear: both;" />
<br />
<span class="head">Бренды</span>
<div class="brands">
<?php
echo implode(', ',$list_brand);
?>
<br /><br />
<span class="head">Оцените магазин <span class="product-rating"><?php $dispatcher->trigger( 'vrvote', $ads_id.'#1' )?></span></span>
</div>
</div>
<?php if ($ads_manage->map_api){?>
<br />
<div style="min-height: 482px;">
    <span class="head">Карта</span>
    <?=htmlspecialchars_decode($ads_manage->map_api)?>
</div>
<?php }?>
<br />


<script>
jQuery(document).ready(function(){
    jQuery('#comments-form input, #comments-form textarea').styler(); 
});



</script>
<script>
jQuery(document).ready(function() {
	jQuery(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
});
</script>
<style type="text/css">
.main img{width:204px;}

span[level="0"]{
    color: #735b31;
}

span[level="0"] span{
    /*display:inline-block;*/
}

span[level="0"] > span.item{
    font-weight: bold;
    margin-right: 10px;
}

span[level="1"]  span.item{
    margin-right: 5px;
}

span[level="1"]  > span.item:before{
  display: inline;
  content: '\2022';
  padding-right: 0px;
}

span[level="1"]  > span.item:first-child:before{
    display: none;
}

span[level="2"]  span.item{
    font-style: italic;
}

.compas_show_ads .s_add a.lk{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    margin: 10px 0;
}
</style>