<link rel="stylesheet" href="/modules/mod_company_site/tmpl/style.css" type="text/css" />
<link rel="stylesheet" href="/templates/compas_main/jquery.formstyler.css" type="text/css" />
<h3>Контакты <span>компании</span></h3>
<span class="gray">Название компании: </span> <span style="font-size: 20px;"><?= $company_data['company_name'] ?></span>
<br />

<?php if ($company_data['images']) { ?>
    <img src="<?= $company_data['images'] ?>" width="100%" class="company" />
<?php } ?>



<?php if ($company_data['company_adress']) { ?>
    <span class="gray">Адрес: </span><?= $company_data['company_adress'] ?><br />
<?php } ?>

<?php if ($company_data['company_phone1']) { ?>
    <span class="gray">Телефон 1: </span><?= $company_data['company_phone1'] ?><br />
<?php } ?>

<?php if ($company_data['company_phone2']) { ?>
    <span class="gray">Телефон 2: </span><?= $company_data['company_phone2'] ?><br />
<?php } ?>

<?php if ($company_data['company_phone3']) { ?>
    <span class="gray">Телефон 3: </span><?= $company_data['company_phone3'] ?><br />
<?php } ?>

<?php if ($company_data['company_email']) { ?>
    <span class="gray">Email: </span><a href="mailto:<?= $company_data['company_email'] ?>"><?= $company_data['company_email'] ?></a><br />
<?php } ?> 

<br />      
<span class="gray">Контакты представителя: </span><br /> 
<?php if ($company_data['name']) { ?>
    <span class="gray">Имя: </span><?= $company_data['name'] ?><br />
<?php } ?> 

<?php if ($company_data['phone1']) { ?>
    <span class="gray">Телефон 1: </span><?= $company_data['phone1'] ?><br />
<?php } ?> 

<?php if ($company_data['phone2']) { ?>
    <span class="gray">Телефон 2: </span><?= $company_data['phone2'] ?><br />
<?php } ?> 

<?php if ($company_data['adress']) { ?>
    <span class="gray">Адрес: </span><?= $company_data['adress'] ?><br />
<?php } ?> 

<?php if ($company_data['email']) { ?>
    <span class="gray">Email: </span><a href="mailto:<?= $company_data['email'] ?>"><?= $company_data['email'] ?></a><br />
<?php } ?> 
<?php if ($num_ads) {?>
  <br/>
  <a href="<?='/?u_id='.$company_id?>" >Все магазины компании</a>
  <br/>
<?php } ?>
<?php if ($user_has_company_edit) { ?>
    <br/>
    <a href="index.php?Itemid=197" class="link-more link2">Редактировать</a>
<?php } ?> 

<style type="text/css">
    .module-brand h3{
        font-size: 28px;

    }

    .module-brand h3:before{
        margin-left: 5px;
    }

    .module-brand h3:after{
        margin-left: 5px;
    }

    .gray{
        color: #735b31;
        font-size: 20px;
    }

    .module-brand img.company{
        border: 1px solid #735b31;
        margin: 18px 0;
    }

    .link-more.link2{
        background: #0f0f0f;
    }

    .link-more.link2:hover{
        background: #a18f61;
    }

</style>    