/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
/*.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }*/

.cs-buttons a{
	background: url(../img/img-sprite-slider.png) no-repeat; 
	background-position: 1px 1px;
	width: 22px;
	height: 22px;
	display: block;
	float: left;
}

/*.cs-active { background-color: #B8C4CF; color: #FFFFFF; }*/
.cs-active { 
	background: url(../img/img-sprite-slider.png) no-repeat; 
	/*color: #FFFFFF; */
	background-position: -22px 1px;
	width: 22px;
	height: 22px;
	float: left;
	display: block;
}

.cs-active { background-color: #B8C4CF; color: #FFFFFF;

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; display: none;}
