#center_block .item-page{padding-left: 15px; /*margin-top: -16px;*/}
#center_block .item-page .block-interview{margin-left: 0; margin-bottom: 10px;}
.item-page img{ margin: 5px;}

.item-page p{margin-top: 0;}
#center_block{width: 708px; }
