﻿<link rel="stylesheet" href="modules/mod_company_site/tmpl/style.css" type="text/css" />
<link rel="stylesheet" href="templates/compas_main/jquery.formstyler.css" type="text/css" />
<script src="templates/compas_main/js/ajaxupload.3.5.js"></script>

<?php
Utils_Helpers::var_to_js(array(
        'user_id'            => $user_id,
        'hash'               => md5($user_id),
        'news_hash'          => md5($user_id.'news'),
        'news'               => true,
        'max_photo_items'    => MAX_PHOTO_ITEMS,
        'uri' => $uri[0]

));
?>
<script src="/geo/js/upload_file.js"></script>
<script src="/modules/mod_show_company_news/tmpl/news_script.js"></script>


<div class="block-interview">
    <div class="header-block-interview">
        Добавить новость 
    </div>
</div>
<form id="form_company_site" method="post">
    <div class="block_in "><input  type="text" value="<?=$list_news[0]['head']?>" name="news_head" maxlength="100" placeholder="Заголовок *" /></div>  
<div class="block_in "><textarea  value="" name="news_text"  maxlength="2000"  placeholder="Текст новости *" ><?=$list_news[0]['text']?></textarea> </div> 
<div class="block_in "><input  type="button" value="Добавить фотографию" id='upload_news' /> </div> 

<span style="color: #cc0000; font-size: 0.7em;"><?=sprintf(MESSAGE_WRONG_IMAGE_FORMAT, (MAX_FILE_SIZE/1000).' мб')?></span>
<div class="block_in ">
    <?php $files = Ads_Files::get_images($list_news[0]['images']);?>
    <ul class="photo_list">
        <?php foreach($files as $file){?>
        <li>
            <img src="<?=Ads_Files::get_full_path_thumb($file, $company_id)?>" file="<?=$file?>" width="170" />
            <br/>
            <a href="#" onClick="return _delete(jQuery(this));" class="del">Удалить</a>
        </li>
        <?php }?>
    </ul>
</div> 
<div class="block_in "><input  type="submit" value="Сохранить" /> </div> 

<input  type="hidden" name="company_id" value="<?=$company_id?>" />
<input  type="hidden" name="images" value="" />
<input  type="hidden" name="images_before_edit" value="<?=$list_news[0]['images']?>" />
<?php if(isset($_GET['newsid'])){?>
<input  type="hidden" name="newsid" value="<?=$_GET['newsid']?>" />
<?php }?>

</form>
<br/>
