<link rel="stylesheet" href="/modules/mod_company_site/tmpl/style.css" type="text/css" />
<link rel="stylesheet" href="/templates/compas_main/jquery.formstyler.css" type="text/css" />

<script src="/templates/compas_main/js/helpers/jquery.fancybox.pack.js" ></script>
<link rel="stylesheet" href="/templates/compas_main/js/helpers/jquery.fancybox.css" type="text/css" />
<link rel="stylesheet" href="/templates/compas_main/js/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
<script type="text/javascript" src="/templates/compas_main/js/helpers/jquery.fancybox-thumbs.js"></script>

<div class="block-interview">
    <div class="header-block-interview">
        <?=$company_data['company_name']?> 
    </div>
</div>
<p class="gray big">Описание</p>
<?=$company_data['full_descript']?>    
<br/>
<br/>

<?php if ($user_has_company_edit){?>
<a href="<?=$_SERVER['REQUEST_URI']?>?addnews" class="lk">Создать новость</a>
<br/>
<br/>
<?php }?>



<ul class="news_list">
<?php 
foreach($list_news as $news){
    include 'news_item.phtml';
}



?>
</ul>
<?php include "paginate.tpl.php"?>
<script>
jQuery(document).ready(function() {
	jQuery(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});

    
    //jQuery( "#comments" ).load("/sub/spt/kyogel_1997g_-109.html #comments", function(data){alert(data)}); 
    
});
</script>

