<li>
<div class="news_item">
    <h3><?=$news['head']?></h3>
    <span class="date"><?=Utils_Helpers::date_to_russian(date("d F Y, G:i",strtotime($news['recall_date'])));?></span>
    <p>
        <?=str_replace(chr(13), '<br/>', $news['text'])?>
    </p>
    <?php $files = Ads_Files::get_images($news['images']);?>
    <ul class="photo_list">
        <?php foreach($files as $file){?>
        <li>
            <a href="<?=Ads_Files::get_file_news_path_2($company_id).$file?>" class="fancybox-thumb" rel="fancybox-thumb<?=$news['id']?>"><img src="<?=Ads_Files::get_full_path_thumb($file, $company_id)?>" width="170" /></a>
        </li>
        <?php }?>
    </ul>
    <?php if ($user_has_company_edit){?>
    <p class="panel">
        <a href='<?=$uri[0]?>?newsid=<?=$news['id']?>'>Редактировать</a>
        <a href='<?=$uri[0]?>?action=delete&newsid=<?=$news['id']?>'>Удалить</a>
    </p>
    <?php }?>
</div>
</li>