 <?php 
    $user =& JFactory::getUser();
    $user_id = $user->get('id');
    
    if (!$user_id)
       $link_reg = '<a href="index.php?option=com_users&Itemid=135&lang=ru&view=registration" class="regist">Регистрация</a>';
    else   
       $link_reg = '<a href="index.php?Itemid=133" class="regist">Личный кабинет</a>'; 
 ?>
<div class="authorization">
    <?php if (!$user_id){?>	
    <a href="index.php?Itemid=180" class="author">Войти</a>
    <?php }else{?>
    <a href="<?=JRoute::_('index.php?option=com_users&task=user.logout&'.JSession::getFormToken().'=1', true);?>" class="author">Выйти</a>

    <?php }?>
		&#47;
	<?=$link_reg?>
</div>