@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);

* {
	/*transition: all .3s;*/
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
	width: 100%;
	height: 100%;
}

body, html{ padding:0; margin:0; height: 100%;}
body {
 min-height: 100%;
 height: 100%;
 position: relative;
}

img{
	border: none;
}

ul{
	list-style-type: none;
}

a, h1 a, h2 a, h3 a, h1, h2, h3{
    color: #735b31;
}

.item-page h1{
    margin-top: 0;
}

.s_add div.description{
    max-width: 460px;
    word-wrap: break-word;
}

.wrapper{
	min-width: 1280px;
	margin: 0 auto;
	height: auto !important;
}

.container{
	margin: 0 auto;
	width: 1280px;
	padding: 0 18px;
}

.container:after{
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

/*====================================
              header
====================================*/
.wrapper-header{
	background: #1e1916 url(../img/bg-header.jpg) repeat-x;
	min-width: 1280px;
    width: 100%;
	padding-bottom: 36px;
    height: 119px;
    position: fixed;
    z-index: 110;
    margin-top: -5px;
}



.wrapper-header div.line_h{
	background: url(../img/img-line-header.png);
	background-position: top center;
	height: 11px;
    width: 100%;
    position: absolute;
    bottom: 32px;
}

	.logo{
		float: left;
		margin: 9px 0 0 10px;
	}

	.button-list{
		float: left;
		width: 192px;
		height: 40px;
		/*border: 1px solid green;*/
		border-radius: 5px;
		margin: 22px 0 0 147px;
	}

	.authorization{
		float: left;
		margin: 30px 0 0 83px;
		font-size: 18px;
		color: #f3ead5;
	}

		.author{
			color: #f3ead5;
			text-decoration: none;
			border-bottom: 1px solid #f3ead5;
			margin-right: 4px;
		}
        .comment-box.author{border: 0;}

		.regist{
			color: #cdc09f;
			text-decoration: none;
			border-bottom: 1px solid #cdc09f;
		}

		.social{
			float: right;
		}

			.social>li{
				float: left;
				margin-left: 3px;
			}

				.fc{
					background: url(../img/sprite-social.png) no-repeat 0 4px;
					width: 47px;
					height: 47px;
					display: block;
				}

					.fc:hover{
						background-position: 0 -44px;
					}

				.vk{
					background: url(../img/sprite-social.png) no-repeat -47px 4px;
					width: 47px;
					height: 47px;
					display: block;
				}

					.vk:hover{
						background-position: -47px -44px;
					}

				
				.tw{
					background: url(../img/sprite-social.png) no-repeat -94px 4px;
					width: 47px;
					height: 47px;
					display: block;
				}

					.tw:hover{
						background-position: -94px -44px;
					}

				.go{
					background: url(../img/sprite-social.png) no-repeat -141px 4px;
					width: 47px;
					height: 47px;
					display: block;
				}

					.go:hover{
						background-position: -141px -44px;
					}

				.yo{
					background: url(../img/sprite-social.png) no-repeat -192px 4px;
					width: 47px;
					height: 47px;
					display: block;
				}

					.yo:hover{
						background-position: -192px -44px;
					}

		.menu-top{
			clear: both;
			display: block;
			padding: 9px 0;
		}

			.menu-top>li{
				float: left;
				/*width: 225px; *//*изменить */
                position: relative;
                top:-4px;
			}

				.menu-top>li:nth-child(1){
					margin-left: 1px;
				}

				.menu-top>li:nth-child(2){
					margin-left: 21px;
				}

				.menu-top>li:nth-child(3){
					margin-left: -2px;
				}

				.menu-top>li:nth-child(4){
					/*margin-left: 34px;*/
				}

				.menu-top>li:nth-child(5){
					margin-left: 7px;
				}

				.menu-top>li>a{
					color: #cdc09f;
					font-size: 21px;
					text-transform: uppercase;
					text-decoration: none;
				}

					.menu-top>li>a:before{
						content: '';
						display: block;
						background: url(../img/sprite-icon-butt.png) no-repeat;
						background-position: -45px 2px;
						width: 24px;
						height: 22px;
						float: left;
						margin: 2px 25px;
					}

				.menu-top>li>a:hover{
					color: #f3ead5;
				}

				.menu-top>li.active a{
					color: #f3ead5 !important;
				}



/*====================================
              middle
====================================*/
.wrapper-middle{
	min-width: 1280px;
	background: #f1ede0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1ede0 0%, #f5f2e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ede0), color-stop(100%,#f5f2e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1ede0 0%,#f5f2e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1ede0 0%,#f5f2e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1ede0 0%,#f5f2e9 100%); /* IE10+ */
	background: linear-gradient(top,  #f1ede0 0%,#f5f2e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ede0', endColorstr='#f5f2e9',GradientType=0 ); /* IE6-9 */

}

	.wrapper-middle>.container{
		background: #fff;
	}

.shadown{
	padding-bottom: 117px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1), 
	-23px 0 20px -23px rgba(0, 0, 0, .8), 
	23px 0 20px -23px rgba(0, 0, 0, .8), 
	0 0 0px rgba(255, 255, 255, .1);
}

	.content-block{
		margin-top: 33px;
		float: left;
		width: 100%;
        
	}

		.large-buttons{
			padding: 0;
			margin-top: 2px;
		}

		.large-buttons:after{
			content: '';
			display: block;
			height: 0;
			visibility: hidden;
			clear: both;
		}

			.large-buttons>li{
				float: left;
				margin-left: 18px;
				width: 314px;
				height: 170px;
				position: relative;
			}

				.large-buttons>li>a>span{
					text-transform: uppercase;
					position: absolute;
					right: 14px;
					top: 65px;
				}

			.large-buttons>li:first-child{
				margin-left: 0 !important;
			}

			.large-buttons>li>a>span{
				text-transform: uppercase;
				font-size: 24px;
			}

			.li-women{
				border: 9px solid #0c0c0b;
			}

				.li-women>a>span{
					color: #0c0c0b;
				}

			.li-men{
				border: 9px solid #181714;
			}

				.li-men>a>span{
					color: #1b1714;
				}

			.li-children{
				border: 9px solid #483930;
			}

				.li-children>a>span{
					color: #483930;
					right: 72px !important;
				}

		.li-make{
			padding: 0;
			display: inline-block;
			padding: 0 0 119px 0;
			margin-top: 15px;
            width: 978px;
   
		}

			.li-make>li{
				float: left;
				margin-right: 34px;
				margin-bottom: 32px;
			}

				.li-make>li>a>img{
					border: 1px solid #a18f61;
				}

			.li-make>li:nth-child(5n){
				margin-right: 0 !important;
			}

	.right-banner{
		/*margin-top: 33px;*/
		padding: 0 0 119px 0;
		float: right;
		width: 255px;
	}
        
        .right-banner .bannergroup-partners{
            margin-bottom: 20px;
        }

		.vertical-banner{
			position: relative;
		}

			.name-banner{
				background: rgba(255, 255, 255, .4);
				width: 100%;
				text-align: center;
				position: absolute;
				bottom: 0;
			}

				.name-banner>p{
					font: 50px 'Verdana';
					font-weight: bold;
					text-transform: uppercase;
					color: #252525;
					line-height: 50px;
				}

					.name-banner>p>span{
						font-family: 'PT Sans Narrow', sans-serif !important;
						font-size: 68px;
						display: block;
						color: #847454;
						font-weight: 100;
					}

		.module-partners{
			margin-top: 15px;
		}

			.module-partners h3, .module-brand h3, .module-lk h3{
				color: #252525;
				font-size: 30px;
				text-transform: uppercase;
				text-align: center;
				display: block;
				line-height: 34px;
                                margin-left:-8px;
                                margin-bottom: 10px;
			}
            
            .adminmenu h3{
            font-size: 20px;
            }
            



			.module-partners h3:before, .module-brand h3:before, .module-lk h3:before{
				content: '';
				display: block;
				background: url(../img/img-line-dotted.png) no-repeat;
				height: 5px;
				width: 252px;
				float: left;
				margin-left: 7px;
			}

			.module-partners h3:after, .module-brand h3:after, .module-lk h3:after{
				content: '';
				display: block;
				background: url(../img/img-line-dotted.png) no-repeat;
				height: 5px;
				width: 252px;
				float: left;
				margin-left: 7px;
			}

			.ul-partners{
				padding: 0;
				margin-top: 25px;
			}

				.ul-partners>li{
					margin-bottom: 15px;
				}
		

/*====================================
              footer
====================================*/
.wrapper-footer{
	background: url(../img/bg-footer.jpg);
	height: 119px;
	/*margin: -119px auto 0;*/
	min-width: 1280px;
	/*margin-top: 45px;*/
	position: relative;
}

.wrapper-footer .container{padding-bottom: 10px;}


.wrapper-footer:before{
	content: '';
	display: block;
	background: url(../img/img-line-header.png);
	background-position: top center;
	height: 11px;
	margin-top: -3px;
}

	.menu-bottom{
		display: block;
		/*padding-top: 9px;*/
		float: left;

		padding: 0;
		width: 800px;
		margin-top: 15px;
	}

		.menu-bottom>li{
				float: left;
				/*width: 230px;*/
			}

				.menu-bottom>li>a{
					color: #cdc09f;
					font-size: /*21px*/1.2em;
					text-transform: uppercase;
					text-decoration: none;
				}

					.menu-bottom>li>a:before{
						content: '';
						display: block;
						background: url(../img/sprite-icon-butt.png) no-repeat;
						background-position: -45px 0px;
						width: 24px;
						height: 19px;
						float: left;
						margin: 3px 5px;
					}

				.menu-bottom>li>a:hover{
					color: #f3ead5;
				}

	.counter{
		float: right;
		margin-top: 28px;
        margin-right: 150px;
	}

		
        .counter ul{
           margin-top: 0; 
        }
            .counter li{
    			width: 85px;
    			float: right;
    			height: 27px;
    			margin-left: 27px;
    			background: #9f8d5f;
    		}
	.copyright{
		clear: both;
		float: left;
		margin: -2px 15px;
		color: #4d4737;
	}

/*====================================
              news
====================================*/

.block-breadcr{
	margin-bottom: -30px;
    height: 30px;  
}

.breadcrumbs{
	padding: 0;
	margin: 3px 0px;
	display: block;
}

.breadcrumbs:after{
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

	.breadcrumbs>a, .breadcrumbs span{
		float: left;
        text-decoration: none;
		color: #0e0d0c;
		font-size: 14px;
	}



			.breadcrumbs>a:before, .breadcrumbs span:before{
				content: '';
				display: block;
				background: url(../img/sprite-icon-butt.png) no-repeat;
				background-position: -1px -2px;
				width: 4px;
				height: 5px;
				float: left;
				margin: 9px 5px 0 5px;
			}

		.breadcrumbs>a{
			color: #735b31 !important;
			text-decoration: underline !important;
		}

			.breadcrumbs>a:before, .breadcrumbs span:before{
				background-position: -5px -2px !important;
			}

.module-brand{
	float: left;
	width: 250px;
	position: relative;
	padding-bottom: 29px;
        word-wrap: break-word; 
}

	.module-brand h3>span{
		color: #8b8165;
	}

	.ul-brends{
		padding: 0;
                margin: 0;
	}

		.ul-brends>li{
			position: relative;
			margin-bottom: 16px;
		}

			.ul-brends>li>span{
				background: rgba(0, 0, 0, .4);
				width: 249px;
				position: absolute;
				bottom: 5px;
				
				display: block;
				text-align: center;
				
			}

				.ul-brends>li>span>a{
					font-size: 22px;
					line-height: 90px;
					text-decoration: none;
					color: #fff;
				}

.interv{
	width: 345px;
	float: left;
	/*margin-left: 18px;*/
	min-height: 620px;
    height: 670px\0/IE9;
	position: relative;
	/*padding-bottom: 25px;*/
}

.full .interv{
    width: 470px;
}

	.inter-head{
		color: #ddd3bb;
		background: #0c0c0b;
		width: 100%;
		text-transform: uppercase;
		font-size: 30px;
		padding: 1px 0 1px 18px;
	}

	.ul-inter{
		padding: 0;
		display: inline-block;
		margin-top: 5px;
	}

		.ul-inter>li, .blog .item, .blog .itemspec{
			background: url(../img/bg-li-square.png) repeat-x;
			/*height: 2px;*/
			background-position: bottom left;
			padding-bottom: 1px;
			margin-bottom: 3px;
		}

                .blog .itemspec img{
                   width: 75px;
                   margin-right: 15px;
                   margin-bottom: 15px;
                }

			.ul-inter>li>a, .blog h2 a{
				color: #735b31;
				text-decoration: none;
				font-size: 16px;
				display: block;
				margin-bottom: 7px;
			}

			.ul-inter>li>img{
				float: left;
				margin-right: 17px;
			}

			.ul-inter>li>p{
				color: #191716;
				font-size: 16px;
				margin-top: -4px;
				line-height: 1.2;
			}

	.link-more{
		text-decoration: none;
		color: #a18f61;
		border-radius: 5px;
		padding: 2px 20px 2px 13px;
		background: #0f0f0f url(../img/bg-button-more.png) no-repeat  75px 7px;
		position: absolute;
		bottom: 0;        
        min-width: 90px;
	}
    
    #center_block .link-more{
        left: 0;

    }

		.link-more:hover{
			color: #0f0f0f;
			background: #b4a376 url(../img/bg-button-more-act.png) no-repeat  75px 7px;
		}

	.arhiv{
		right: 0;
		padding: 4px 26px;
		background-position: 70px 9px;
	}

		.arhiv:hover{
			background-position: 70px 9px;
		}

.trends{
	width: 345px;
	float: left;
	margin-left: 18px;
	min-height: 620px;
    height: 670px\0/IE9;
	position: relative;
}

	.trends-head{
		color: #ddd3bb;
		background: #1b1714;
		width: 100%;
		text-transform: uppercase;
		font-size: 30px;
		padding: 1px 0 1px 18px;
	}

	.ul-trends{
		padding: 0;
		display: inline-block;
		margin-top: 5px;
	}

		.ul-trends>li{
			background: url(../img/bg-li-square.png) repeat-x;
			/*height: 2px;*/
			background-position: bottom left;
			padding-bottom: 1px;
			margin-bottom: 3px;
		}

			.ul-trends>li>a{
				color: #735b31;
				text-decoration: none;
				font-size: 16px;
				display: block;
				margin-bottom: 7px;
			}

			.ul-trends>li>p{
				color: #191716;
				font-size: 16px;
				margin-top: -4px;
				line-height: 1.2;
			}

.banner-center{
	margin-left: 18px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

.glamur{
	width: 345px;
	float: left;
	margin-left: 18px;
	min-height: 700px;
	position: relative;
}

	.glamur-head{
		color: #ddd3bb;
		background: #483930;
		width: 100%;
		font-size: 30px;
		padding: 1px 0 1px 18px;
	}

	.ul-glamur{
		padding: 0;
	}

		.ul-glamur>li{
			background: url(../img/bg-li-square.png) repeat-x;
			/*height: 2px;*/
			background-position: bottom left;
			padding-bottom: 3px;
			margin-bottom: 5px;
		}

			.ul-glamur>li>a{
				color: #735b31;
				text-decoration: none;
				font-size: 16px;
				display: block;
				margin-bottom: 10px;
			}

			.ul-glamur>li>p{
				color: #191716;
				font-size: 16px;
				margin-top: -4px;
			}

.news-r{
	width: 345px;
	float: left;
	margin-left: 18px;
	min-height: 700px;
	position: relative;
}

	.news-r-head{
		color: #ddd3bb;
		background: #766155;
		text-transform: uppercase;
		width: 100%;
		font-size: 30px;
		padding: 1px 0 1px 18px;
	}

	.ul-news-r{
		padding: 0;
	}

		.ul-news-r>li{
			background: url(../img/bg-li-square.png) repeat-x;
			/*height: 2px;*/
			background-position: bottom left;
			padding-bottom: 3px;
			margin-bottom: 5px;
		}

			.ul-news-r>li>a{
				color: #735b31;
				text-decoration: none;
				font-size: 16px;
				display: block;
				margin-bottom: 10px;
			}

			.ul-news-r>li>img{
				float: left;
				margin-right: 17px;
			}

			.ul-news-r>li>p{
				color: #191716;
				font-size: 16px;
				margin-top: -4px;
			}

.bottom-banners{
	clear: both;
	margin-top: 30px;
	margin-bottom: -100px;
    width: 100%;
}

.bottom-banners .banneritem{ float: left; margin-left: 18px;}

	.bottom-banners>ul{
		padding: 0 0 118px 0;
	}

	.bottom-banners>ul:after{
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}

		.bottom-banners>ul>li{
			float: left;
			margin-left: 18px;
		}

		.bottom-banners .banneritem:first-child{
			margin-left: 0 !important;
		}

/*====================================
              interview
====================================*/
.block-interview{
	width: 708px;
	float: left;
	margin-left: 18px;
}

.full .block-interview{
    width: 960px;
}

	.header-block-interview, #center_block .module h3, div > .componentheading h1, .item-page h2{
		background: #0c0c0b;
		color: #ddd3bb;
		padding: 3px 0 3px 18px;
		font-size: 30px;
		text-transform: uppercase;
                font-weight: normal;
	}
        #center_block .module h3, div > .componentheading > h1{
            margin-top: 0;
        }

	.block-interview>img{
		float: left;
		margin: 10px 20px 15px 0;
	}

	.block-interview>span, .componentheading > h1{
		color: #735b31;
		font-size: 25px;
        margin: 0;
	}
	
	.block-interview>p{
		font-size: 16px;
		color: #735b31;
		margin-top: 6px;
		line-height: 1.2;
		margin-bottom: 19px;
	}

		.block-interview>p:last-child{
			margin-bottom: 0 !important;
		}

	.autor{
		margin-left: 3px;
	}

		.autor>a{
			text-decoration: none;
			color: #735b31;
		}

	.intr-anons{
		display: inline-block;
		padding: 0;
		margin-top: -15px;
	}

	.intr-anons:after{
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}

		.intr-anons>li{
			float: left;
			width: 170px;
			margin-right: 9px;
		}

		.intr-anons>li:last-child{
			margin-right: 0;
		}

			.intr-anons>li>span{
				display: block;
				color: #735b31;
				font-size: 18px;
			}

			.intr-anons>li>p{
				font-size: 16px;
				color: #191716;
				margin-top: 0;
			}

			.intr-anons>li>a{
				font-size: 16px;
				color: #735b31;
				display: block;
				margin: -10px 2px;
			}
/*====================================
              style select
====================================*/
.button-list .jq-selectbox{ border: 1px solid #a59058; border-radius: 5px;}
.jq-selectbox__select{
	/*background: url(../img/bg-button.png) repeat-x;*/
	background: url(../img/bg-button-filter-act.jpg) repeat-x;
	height: 33px;
	width: 180px;
	margin: 3px 6px;
	padding: 5px 15px;
	border-radius: 5px;        
}

.filter .jq-selectbox__select{
    width: 304px;
    margin: 3px 29px 12px 0;
    
}

.jq-selectbox__trigger {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 24px;
	height: 17px;
	background: url(../img/sprite-icon-butt.png) no-repeat;
	background-position: 2px -15px;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	overflow: hidden;
}

.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}

.jq-selectbox__dropdown {
	top: 33px;
	width: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #735e41; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: -moz-linear-gradient(top,  #735e41 0%, #ad9b6d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#735e41), color-stop(100%,#ad9b6d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #735e41 0%,#ad9b6d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #735e41 0%,#ad9b6d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #735e41 0%,#ad9b6d 100%); /* IE10+ */
	background: linear-gradient(top,  #735e41 0%,#ad9b6d 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#735e41', endColorstr='#ad9b6d',GradientType=0 );*/ /* IE6-8 */
        

}

.wrapper-header .jq-selectbox__dropdown{width: 180px !important;  left: 6px;}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
}

.jq-selectbox.opened{
    z-index:150 !important;
}

.wrapper-header .jq-selectbox li.optgroup {	
	color: #f3ead5;
	font-size: 20px;
}

.jq-selectbox li.optgroup{
    font-weight: bold;
}

	.jq-selectbox li.optgroup:before, .jq-selectbox li.bold:before{
		content: '';
		display: block;
		background: url(../img/sprite-icon-butt.png) no-repeat;
		background-position: -19px -16px;
		width: 10px;
		height: 14px;
		float: left;
		margin: 6px 4px;
	}

.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}

	.jq-selectbox li:before{
		content: '';
		display: block;
		background: url(../img/sprite-icon-butt.png) no-repeat;
		background-position: -27px -17px;
		width: 14px;
		height: 13px;
		float: left;
		margin: 5px 2px; 
	}

.jq-selectbox li:hover {
	background-color: #131110;
	color: #f3ead5;
}

.wrapper-header .jq-selectbox li.option {	
	font-size: 16px;
	color: #ece0c3;
}

.jq-selectbox li.option{
  padding-left: 25px;  
}

.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.focused .jq-selectbox__select{}

.jq-selectbox.disabled .jq-selectbox__select-text{
    color: #a9a9a9;
}
/*====================================
              magasine
====================================*/

.filter{ min-height: 144px; border:1px solid #fff;}
	
	.margin-filter{
		margin-top: 14px;
	}

	.filter-city, .filter-brand, .registration input[type=text], .registration input[type=password], .login input[type=text], .login input[type=password]{
		width: 306px;
		border: none;
		font-size: 16px;
		padding: 5px 0 6px 15px;
		border: 1px solid #a59058;
		border-radius: 5px;
		margin-left: 0px;

	}
        
        .registration td{ padding-bottom: 10px;}
        .registration input[type=text], .registration input[type=password]{ margin-left: 10px;}
        .login input[type=text], .login input[type=password]{width: 150px;}
        .login .login-fields{margin-bottom: 10px;}
        .login input[type=text]{margin-left: 10px;}
        .login input[type=password]{margin-left: 3px;}
        .login fieldset{border: 0}

    @-moz-document url-prefix() 
    { 
    .filter-brand { padding: 5px 0 4px 14px; }
    }
    
      

	.searh-filter, #form_company_site input[type="text"], #form_company_site textarea{
		width: 630px;
		border: none;
		font-size: 16px;
		padding: 5px 0 6px 15px;
		border: 1px solid #a59058;
		border-radius: 5px;
                margin-right: 15px;
	}
        
        #form_company_site input[type="text"].red, #form_company_site textarea.red{
           border-color: red; 
        }
        
        
    @-moz-document url-prefix() 
    { 
    .searh-filter { padding: 5px 0 4px 14px; }
    }

	.decor-sub-filtr, .registration button[type=submit], .style-button{
		border: none;
		width: 74px;
		background: url(../img/bg-button-filter-act.jpg);
		height: 33px;
		border-radius: 5px;
		margin-left: 6px;
                margin-left: 6px\0/;
		font-size: 18px;
        position: relative;
        top:1px;
	}
        
        .registration button[type=submit]{width: 100px;}
        .login button[type=submit]{margin:0;}
        .login ul{margin: 10px 0 0 10px; padding: 0}
    
    @-moz-document url-prefix() 
    { 
    .decor-sub-filtr, .registration button[type=submit], .style-button {top:0px;} 
    }

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.decor-sub-filtr, .registration button[type=submit]{
		margin-left: 3px;
	}
}

		.decor-sub-filtr:hover, .registration button[type=submit]:hover, .style-button:hover{
		border: none;
		background: url(../img/bg-button-filter.jpg);
		height: 33px;
		border-radius: 5px;
		font-size: 18px;
	}

	/*select*/

	.sel-default .jq-selectbox__select{
		background: #fff;
		border: 1px solid #a59058;
		border-radius: 5px;
	}

	.sel-default .jq-selectbox__trigger{
		position: absolute;
		top: 10px;
		right: 13px;
		width: 24px;
		height: 17px;
		background: url(../img/sprite-icon-butt.png) no-repeat;
		background-position: 2px -15px;
	}
        
        .sel-default.disabled .jq-selectbox__trigger{
            background-position: 2px -30px;
        }

	.sel-default .jq-selectbox__dropdown {
		background: #fff;
		width: 91% !important;
	}
        

	.region .jq-selectbox__select{		
		margin-right:0;
	}
  
		.region .jq-selectbox__dropdown{			
                    width: 304px;
		}

	.metro .jq-selectbox__select{
		
	}

		.metro .jq-selectbox__dropdown{

		}

	.type .jq-selectbox__select{

	}

		.type .jq-selectbox__dropdown{
            width: 304px !important;
		}

	.category .jq-selectbox__select{
		width: 306px;
		margin-left: 85px;
	}

		.category .jq-selectbox__dropdown{
			margin-left: 85px;
			margin-top: 3px;
			width: 307px;
		}

	.subcategory .jq-selectbox__select{
		margin-right: 0px;
	}

		.subcategory .jq-selectbox__dropdown{
			width: 304px;
		}

	.sel-brand .jq-selectbox__select{
		width: 307px;
		margin-left: 0px;
	}

		.sel-brand .jq-selectbox__dropdown{
			width: 307px;
		}

	.price-category .jq-selectbox__select{
		width: 197px;
		
		/*background: url(../img/img-bg-filtr.png) no-repeat;
		background-position: 130px center; */
	}

		.price-category .jq-selectbox__dropdown{
			width: 197px !important;
		}

.corr-magasine{
	margin-top: 11px !important;
}

	.corr-magasine>li>a{
		font-size: 18px;
		font-weight: bold;
	}

		.corr-magasine>li>a:before{
				content: '';
				display: block;
				background: url(../img/sprite-icon-butt.png) no-repeat;
				background-position: -10px -1px !important;
				width: 5px;
				height: 10px;
				float: left;
				margin: 8px 4px 0 4px;
			}

			.corr-magasine .br-active:before{
				height: 10px;
				background-position: -16px -1px !important;
			}

.stores{
	padding: 0;
	margin-top: 41px;
}

	.stores>li{
		width: 100%;
		float: left;
		background: url(../img/bg-li-square.png) repeat-x bottom center;
		margin-bottom: 16px;
		padding-bottom: 17px;
	}

	.stores>li:last-child{
		background: none !important;
	}

		.stores>li>a>img{
			float: left;
			margin-right: 20px;
		}

		.text-info{
			width: 583px;
			float: left;
			font-size: 16px;
			margin-right: 20px;
		}

			.text-info>span>a{
				color: #735b31;
				font-size: 18px;
				display: block;
				margin-top: -3px;
                text-decoration: none;
			}

			.text-info>p{
				margin-top: -1px;
			}

			.text-info-bottom{
				position: relative;
			}

				.price-category-block{
					background: #161413;
					width: 115px;
					float: left;
					margin: -13px 0px;
				}

					/*tuptips*/
					.price-category-block .img::after{
						content: attr(data-title);
						display: none;
                        
    				}
                    .price-category-block .img{
                        position: relative;
                        height: 29px;
                    }

					.price-category-block .img:hover::after{
						content: attr(data-title);
						display: block;
						position: absolute;
						background: #fff;
						color: #0c0c0b;
						z-index: 10;
						top: 27px;
						left: -5px;
						padding: 3px 6px;
						border: 1px solid #c5b899;
                        width: 200px;
					}

						.price-category-block .img:hover::before{
							content: '';
							display: block;
							background: url(../img/tooltip-before.png);
							width: 9px;
							height: 9px;
							position: absolute;
							left: 10px;
							bottom: 1px;
							z-index: 15;
						}/*end*/

					.price-category-block>img{
						float: left;
						margin: 3px 8px 0 3px;
					}

					.price-category-block>span{
						color: #e0d4b8;
						display: block;
						line-height: 15px;
						margin-top: 5px;
					}

				.adress-magasine{
					float: left;
					margin: -22px 20px;
				}

					.adress-magasine>p{
						color: #64615f;
						line-height: 4px;
					}

						.adress-magasine>p>span{
							color: #191716 !important;
						}

				.rating{
					float: right;
					margin: -22px 18px;
				}

					.rating>p{
						color: #64615f;
						line-height: 4px;
					}

		.contact-info{
			float: right;
			background: #161413;
			width: 190px;
			padding: 8px 9px;
            min-height: 100px;
		}

			.contact-info>span{
				font-size: 14px;
				color: #fff;
				display: block;
				margin-bottom: -1px;
			}

				.contact-info>span>a{
					/*text-decoration: none;*/
					color: #e7d9b5;
				}

.navi-magasine{
	padding:0;
	display: inline-block;
	margin: 3px auto;
	overflow: hidden;
}
div.paginate{text-align: center;}

	.navi-magasine>li{
		float: left;
		margin-right: 10px;
	}

		.navi-magasine>li>a{
			text-decoration: none;
			font-size: 20px;
			color: #161413;
		}

		.navi-magasine>li>a:hover, .navi-magasine>li>a.cur{
			color: #735b31;
		}

			.navi-magasine>li:first-child a{
				background: url(../img/sprite-navig.png) 0px 30px;
				width: 32px;
				display: block;
				height: 32px;
			}

			.navi-magasine>li:last-child a{
				background: url(../img/sprite-navig.png) -32px 30px;
				width: 32px;
				height: 32px;
				display: block;
			}

			.navi-magasine>li:first-child a:hover{
				background: url(../img/sprite-navig.png) 0px -67px;
				width: 32px;
				display: block;
				height: 32px;
			}

			.navi-magasine>li:last-child a:hover{
				background: url(../img/sprite-navig.png) 33px -68px;
				width: 32px;
				height: 32px;
				display: block;
			}

.sorting{
	background: #efeeee;
	padding: 3px 0 6px 15px;
	margin-top: 27px;
        margin-bottom: 15px;
	overflow: hidden;
}

	.sorting>ul{
		padding: 0;
		margin-top: 2px;
	}

		.sorting>ul>li{
			float: left;
			margin-right: 5px;
		}
			.sorting>ul>li>span{
				color: #161413;
				font-size: 16px;
				display: block;
				float: left;
			}

			.sort-decrease{
				display: block;
				background: url(../img/sprite-icon-butt.png) no-repeat;
				background-position: -39px -20px;
				width: 10px;
				height: 5px;
				float: left;
				margin: 8px 2px;
			}

				.sort-decrease:hover, .sort-decrease.active{
					background-position: -39px -24px;
				}

			.sort-increase{
				display: block;
				background: url(../img/sprite-icon-butt.png) no-repeat;
				background-position: -48px -24px;
				width: 10px;
				height: 5px;
				float: left;
				margin: 8px 2px;
			}

				.sort-increase:hover, .sort-increase.active{
					background-position: -48px -20px;
				}


.output{
	padding: 0;
	display: inline-block;
	margin-top: 16px;
}

	.output>li{
		width: 100%;
		float: left;
		background: url(../img/bg-li-square.png) repeat-x bottom center;
		margin-bottom: 8px;
		padding-bottom: 9px;
	}

	.output>li:last-child{
		background: none !important;
	}

		.output>li>a>img{
			float: left;
			margin-right: 18px;
		}

		.text-info-output{
			width: 668px;
			float: left;
			font-size: 14px;
			margin-right: 20px;
                        word-wrap: break-word; 
		}

			.text-info-output>span>a{
				color: #735b31;
				font-size: 16px;
				display: block;
				margin-top: -3px;
                text-decoration: none;
			}

			.text-info-output>p{
				margin-top: -2px;
				line-height: 16px;
			}

			.text-info-bottom{}

				.price-category-block-output{
					background: #161413;
					width: 115px;
					float: left;
					margin: -4px 0px;
					position: relative;
				}
                .price-category-block-output.kart{width: auto; height: 25px; position: absolute; right: 10px; top:7px; background: transparent;}

					/*tuptips output*/
					/*.price-category-block::after{
						content: attr(data-title);
						display: none;
					}*/
                    
                    .price-category-block-output .img{
                        float: left;
                        height: 28px;
                        position: relative;
                    }

					.price-category-block-output .img:hover::after{
						content: attr(data-title);
						display: block;
						position: absolute;
						background: #fff;
						color: #0c0c0b;
						z-index: 10;
						top: 30px;
						left: -5px;
						padding: 2px 6px;
						border: 1px solid #c5b899;
                        width: 160px;
					}
                    
                    .price-category-block-output.kart .img::after{font-size: 12px; width: 60px;}

						.price-category-block-output .img:hover::before{
							content: '';
							display: block;
							background: url(../img/tooltip-before.png);
							width: 9px;
							height: 9px;
							position: absolute;
							left: 10px;
							bottom: -3px;
							z-index: 15;
						}/*end*/

					.price-category-block-output>img{
						float: left;
					}

					.price-category-block-output>span{
						color: #e0d4b8;
						display: block;
						line-height: 15px;
						margin-top: 5px;
					}


				.rating-output{
					float: right;
					margin: -12px 10px;
				}

					.rating-output>p{
						color: #64615f;
						line-height: 4px;
						float: right;
						margin-left: 10px;
					}

		.contact-info{
			float: right;
			background: #161413;
			width: 190px;
			padding: 8px 9px;
		}

			.contact-info>span{
				font-size: 14px;
				color: #fff;
				display: block;
				margin-bottom: -1px;
			}

				.contact-info>span>a{
					color: #e7d9b5;
				}
#center_block{ min-height: 200px; width: 730px; float: left; word-wrap: break-word;  }

#center_block.full{
    width: 980px;
}
.jq-selectbox__search{display: none;}
.content-block #cs-next-coin-slider, .content-block #cs-prev-coin-slider{display: none;}
#slider_big{width: 100%; background: #090909; height: 243px; border: 1px solid #000; border-bottom-color: #fff; overflow: hidden;}
#slider_big .coin-slider{margin: auto; width: /*1582*/1280px; height: 241px !important; }

#slider_big #coin-slider{width: 100% !important;}

#slider_big .cs-button-coin-slider{display: none;}
#slider_big #cs-navigation-coin-slider{width: 1244px; margin: auto;}

#slider_big #cs-prev-coin-slider{background: url(../img/arrow-big-slider.png); width: 63px; height: 63px; top:80px !important; left: 0px !important}
#slider_big #cs-prev-coin-slider:hover{background-position: 63px 0;}
#slider_big #cs-next-coin-slider{background: url(../img/arrow-big-slider.png) 0 63px; width: 63px; height: 63px; top:80px !important; right: 0px !important}
#slider_big #cs-next-coin-slider:hover{background-position: 63px 63px;}

.filter select{display: none;}

.edit-icon, .item-page .actions{display: none;}
div.error{color:red; background-color: rgba(209,  44,  44,  0.1); padding: 10px; margin-bottom: 10px;}

.moduletable div.header{ background: url("/templates/compas_main/img/fon-header.jpg"); color:#c1b8a4; font-size: 30px; padding-left: 15px; position: relative; height: 42px;}

#aiContactSafe_mainbody_1 {width: 708px;}
#aiContactSafe_info, #displayAiContactSafeForm_1 label, #aiContactSafe_row_aics_send_to_sender > div {display: none;}
#div_captcha_img{position: relative; top:-5px;}

#system-message ul{margin: 0 0 10px 0;}
#system-message{width: 90%; margin: auto;}
#jc{margin-left: -10px;}
#comments{margin-left: 10px; width: 98%;}
.right-banner .menu a{color:#735b31; font-size: 18px; text-decoration: none;}
.right-banner .menu a:hover{text-decoration: underline;}
.right-banner .menu li{list-style: none;}

.right-banner .menu a:before{
      content: ''; 
      background: url("../img/sprite-navig-small.png") no-repeat -23px -23px;
      height: 23px;
      width: 25px;
      display: inline-block;
      position: relative;
      top:8px;
}

.right-banner .menu a:hover:before{
      background-position: -23px -1px;
}

.right-banner ul{ padding: 0;}

.header-select:hover{cursor: pointer;}
#center_block .bannergroup{margin-top: 10px;}

.wrapper-midddle > .container{padding-top: 120px;}

div.blog{padding-left: 15px; width: 730px;}
.full div.blog{
    width: 980px;
}

.full div.blog .header-block-interview{
    width: 960px !important;
}
.blog div.item{float: left; width: 335px; margin-bottom: 20px;}
.blog div.item{margin-left: 18px;}
div.blog h2{margin: 0; font-weight: normal;}
.blog div.items-row{clear: both;}

.blog div.cont.chet{ margin-left: 18px;}

.blog div.cont.interv{min-height: 100px; margin-bottom: 10px;}
.blog div.items-row h2 a{font-size: 20px;}
.blog h2 a:hover{text-decoration: underline;}
.blog p{margin-top: 0;}

h1, h2, h3, h4{margin-top: 0;}

a.lk{
    background: url("/templates/compas_main/img/bg-button-filter-act.jpg");
    height: 33px;
    border-radius: 5px;
    border: 0;
    width:180px;
    margin:5px;
    font-size: 18px;
    display:inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 30px;
}
a.lk:hover{
    background: url("/templates/compas_main/img/bg-button-filter.jpg");
}
span.border_gold{
    border: 1px solid #a59058;
    border-radius: 5px;
    display: inline-block;
}
table.lk td{padding-right: 15px; padding-bottom: 20px;}

.logout button[type="submit"]{
    background: url("/templates/compas_main/img/bg-button-filter-act.jpg");
    height: 33px;
    border-radius: 5px;
    border: 0;
    width: 60px;
    display: inline-block;
    padding-bottom: 3px;
}

.logout button[type="submit"]:hover{
    background: url("/templates/compas_main/img/bg-button-filter.jpg");
}
#center_block{ min-height: 200px; width: 980px; float: left; }
#aiContactSafeSendButton{
    position: absolute;
    left:0;
}
#aiContactSafeBtns{
    position: relative;
}

#aiContactSafeForm{
    clear: both;
}

.block_in input[type='text'].red, .block_in textarea.red, .block_in select.red, div.red{
    border: 1px solid red;
    
}
div.red{
    padding: 5px;
}

div.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    top:0;
    left:0;
    background: url(../img/load.gif) no-repeat 50% 50%;
    display: none;
    
}
div.loading > div{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.2; /* Полупрозрачный фон */
    filter: alpha(Opacity=20); /* Прозрачность в IE */
    background: #000;
    z-index: 250;
}


.jq-selectbox__dropdown li.bold{
    font-weight: bold;
}

