.compas_show_ads ul#files{padding: 0;}
.compas_show_ads span.head{color: #735b31; font-size: 25px; display: block;}
.compas_show_ads span.head span{color: #000; font-size: 16px;}
span.product-rating{position: relative; top:-3px; left:15px;}
.compas_show_ads .s_add a{color:#735b31}
.compas_show_ads div.categories{color:#735b31; float:left; margin-left: 40px; width: 299px; margin-bottom: 10px;}
.compas_show_ads div.categories.left{margin: 0;}

.compas_show_ads .brand{width: 205px; margin-left: 20px; display: inline-block; margin-top: 10px;}
.compas_show_ads .brand.left{margin: 0;}

#comments-form-name, #comments-form-email{width: 285px; 
padding-left: 10px;
margin-bottom: 10px;
height: 33px;

}

#comments-form-captcha, #comments-form-name, #comments-form-email, #comments-form-comment, #comments-form-captcha-image, #comments-form-send, #comments-form-cancel{
   -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #a59058 !important; 
    font-size: 14px;
}

#comments-form-captcha{height: 33px; width: 234px !important; position: relative; top:-14px; padding-left: 10px;}

#comments-form-comment{    
    padding-left: 10px;
    width: 426px;
    resize: none;
}

#comments-form-captcha-image{height: 33px !important; width: 130px !important;}

#comments-form-send, #comments-form-cancel{background: url(/templates/compas_main/img/bg-button-filter-act.jpg) repeat-x; height: 33px; border: 0; color:#443e37 !important; margin: 0 !important;}
#comments-form-cancel {width: 150px#comments-form-captcha, #comments-form-name, #comments-form-email, #comments-form-comment, #comments-form-captcha-image, #comments-form-send;}
.comments-form-captcha_label, .comments-form-email_label, .comments-form-name_label, #comments-form-comments{
    color: #000 !important; 
    font-size: 14px !important;
}