<ul class="stores">
<?php 
foreach($rows as $item) :
    $ad_kindof = explode(',',str_replace(array('[',']','"'),"",$item['ad_kindof']));
    $cc_images = '';
    $small_img = $ads_manage->get_exist_thumb_image($item['images']);
    foreach ($ad_kindof as $ak){ $cc_images .= "<div style='float:left;' class='img' data-title='ценовая категория ".$cost_category[$ak]."'><img src='".$images_cc[$ak]."' alt='' ></div>";} 
    $url = $sef->set_ads($item['id'])->get_sef_url();  
    $brands = Ads_Brands::instance()->ads()->get_brands($item['id']);
    $list_brand = array();
    foreach($brands as $b){$list_brand[]= $b['name'];}
    $list_brand = implode('; ',$list_brand);
    $num_comments = $ads_manage->get_num_comments($item['id']);
    $old = $item['ad_text'];
    $item['ad_text'] = iconv('UTF-8','windows-1251',trim($item['ad_text'])); 
    $item['ad_text'] = substr($item['ad_text'], 0, 165);
    $new = $item['ad_text'] = iconv('windows-1251','UTF-8',$item['ad_text']);

    if (strlen($new) != strlen($old))
        $item['ad_text'] .= ' ...';
    include "item.phtml";
endforeach;
?>
</ul>