<li>
	<a href="<?=$url?>" target="_blank"><img src="<?=($item['images'] ? '/images/com_ads/'.$small_img : '/templates/compas_person_cab/img/no-foto.jpg') ?>" width="80" alt=""></a>
	<div class="text-info">
		<span><a href="<?=$url?>" target="_blank"><?=$item['ad_headline']?></a></span>
		<p><?=$list_brand?>
        <?php if ($item['ad_text']!=''){?>
            <br /><?=$item['ad_text']?>
        <?php }?>
        </p>
		<div class="text-info-bottom">
			<div class="price-category-block" data-title="бюджетная">
				<?=$cc_images?>
			</div>
			<div class="adress-magasine">
				<p>Адрес:<span> <?=$item['ad_adress']?></span></p>
				<?php if ($item['ad_work_type']){?>
                <p>Режим работы:<span> <?=$item['ad_work_type']?></span></p>
                <?php }?>
			</div>
			<div class="rating">
				<p>Рейтинг: <?php $dispatcher->trigger( 'vrvote', $item['id'].'#0' )?></p>
				<p>Отзывы: <?=$num_comments[0]?></p>
			</div>
		</div>
	</div>
	<div class="contact-info">
        <?php if (isset($item['ad_raiyon']) && is_string($rayon = $ads_manage->get_raiyon($item['ad_raiyon']))){?>
            <span>Район:  <?=$rayon?></span>
        <?php } ?>
        <?php if ($item['ad_adress']){?>
            <span><?=$item['ad_adress']?></span>
        <?php } ?>
        <?php if (/*$item['ad_metro']*/0){?>
            <span>Метро:  <?=$ads_manage->get_metro($item['ad_metro'])?></span>
        <?php } ?>
        <?php if ($item['ad_phone']){?>
            <span>Тел.:  <?=$item['ad_phone']?></span>
        <?php } ?>
        <?php if (/*$item['ad_phone1']*/0){?>
            <span>Тел.:  <?=$item['ad_phone1']?></span>
        <?php } ?>
        <?php if (/*$item['ad_phone2']*/0){?>
            <span>Тел.:  <?=$item['ad_phone2']?></span>
        <?php } ?>
        <?php if ($item['email']){?>
            <span>e-mail: <a href="<?=$item['email']?>"><?=$item['email']?></a></span>
        <?php } ?>
        <?php if ($item['ad_site']){?>
		<span><a href="http://<?=$item['ad_site']?>"><?=$item['ad_site']?></a></span>
        <?php } ?>        
	</div>
</li>