/**
 * @version     $Id$ 2.0.2 0
 * @package     Joomla
 * @copyright   Copyright (C) 2005 - 2008 Open Source Matters. All rights reserved.
 * @license     GNU/GPL, see LICENSE.php
 */


/* Calendar */
div.calendar .button {
	color:#fff;
	font-size:11px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
	padding:2px;
	background:none;
	width:auto;
	text-transform:none;
	text-align:center;
	border:none;
	cursor:pointer;
	overflow:visible;
	display:table-cell;
}

div.with_errors {
	border:1px solid #F00;
	overflow:auto;
	margin:5px 0px;
}
div.with_errors label {
	color:#F00;
}
div.aiContactSafe_error_msg {
	clear:both;
	float:left;
}
div.aiContactSafe_error_msg ul {
	list-style:none;
}
div.aiContactSafe_error_msg li {
	list-style:none;
	display:block;
	color:#F00;
}

label.required_field {

}

.aiContactSafe_error_msg, #div_captcha_info{display: none;}

.aiContactSafe_row.with_errors {border: 0; padding: 0;}

#displayAiContactSafeForm_1 .with_errors input[type=text], #displayAiContactSafeForm_1 .with_errors  textarea{border: 1px solid red;}

#displayAiContactSafeForm_1 input[type=text], #displayAiContactSafeForm_1 textarea, #captcha-code{    
width: 287px;
border: none;
font-size: 16px;
padding: 5px 0 7px 15px;
border: 1px solid #a59058;
border-radius: 5px;
margin-left: 2px;
}

#displayAiContactSafeForm_1 textarea{ width: 425px;}

#captcha{border: 1px solid #a59058; border-radius: 5px;}
#change-image{font-size: 0.9em; color:#bbb}
#captcha-code{position: relative; top:-58px; left:150px; width: 233px;}

#displayAiContactSafeForm_1 input.countdown_editbox{width: auto; padding: 0;}
#displayAiContactSafeForm_1 .with_errors input[type=text].countdown_editbox{border: 0;}

.aiContactSafe_contact_form_field_right{margin-bottom: 10px;}
#aiContactSafeSendButton{background: url("/templates/compas_main/img/bg-button-filter-act.jpg") repeat-x; border: 0; padding: 5px 10px; display: block; border-radius: 5px;
position: relative; top:-95px; left:-10px;
}

#div_captcha{
    position: relative;
    top:-40px;
}