<div class="filter">
        <form action="<?=$uri?>" method="get">
		
                <?=$country_list?>
                <!--<input type="text" placeholder="<?=DEFAULT_CITY?>" class="filter-city" id="search_input" />-->
                <select id="search_select" class="sel-default" name="s_city">
                    <?=$city_list?>
                </select>
		<select class="sel-default region" name="s_raion">
            <?=$raion_list?>
            
		</select>
		<select class="sel-default metro" name="s_metro">
            <?=$metro_list?>
		</select>
		<select class="sel-default type" name="s_category">
			<option><?=SELECT_CATEGORY?></option>
            <?=$category->get_select_2level();?>
            
		</select>
		<!--<select class="sel-default category" name="s_category">
			<option><?=SELECT_CATEGORY?></option>
            <?=$category->get_options('id', 'name', $arr_category, Utils_Helpers::GetVar('s_category'));?>
		</select>-->
		<select class="sel-default subcategory" name="s_subcategory">
			<option><?=SELECT_SUB_CATEGORY?></option>
            <?=$category->get_options('id', 'name', $arr_subcategory, Utils_Helpers::GetVar('s_subcategory'));?>
		</select>

        <input type="text" name="s_brand" id="brand_search" style="display: none;" />

		<select class="sel-default price-category" name="s_cost_category">
			<option><?=SELECT_COST_CATEGORY?></option>
               <?=$category->get_cost_category()->get_options('id', 'name', false, Utils_Helpers::GetVar('s_cost_category'));?>

		</select>
		<input type="search" placeholder="<?=DEFAULT_SEARCH_WORD?>" class="searh-filter" name="s_keyword" value="<?=Utils_Helpers::GetVar('s_keyword')?>">
        <?php if(isset($_GET['u_id'])){?>
          <input type="hidden" value="<?=$_GET['u_id']?>" name="u_id">
        <?php }?>
        <input type="submit" value="Искать" class="decor-sub-filtr">
	</form>
</div>
<script>
    jQuery('.filter form').hide();
    jQuery(document).ready(function(){
        jQuery('.filter form').css('display','inline');
    });
</script>

        