<link rel="stylesheet" href="/modules/mod_company_site/tmpl/style.css" type="text/css" />
<link rel="stylesheet" href="/templates/compas_main/jquery.formstyler.css" type="text/css" />
<script src="/templates/compas_main/js/ajaxupload.3.5.js"></script>

<?php
Utils_Helpers::var_to_js(array(
        'user_id'            => $user_id,
        'hash'               => md5($user_id),
        'company_site'       => true,
        'max_photo_items'    => MAX_PHOTO_ITEMS
));
?>
<script src="/geo/js/upload_file.js"></script>

<?php if($user->company_site_enable){?>
<p class="gray big">Данные компании</p>
<p class="gray">Общая информация:</p>
<form id="form_company_site" method="POST"> 
    <?=$company_name?>
    <div class="block_in" style="position: relative;">
        <table>
            <tr>
                <td>
                    <div class="show_img">
                        <img src="<?=$company_data['images'] ? $company_data['images'] : '/templates/compas_person_cab/img/no-foto.jpg'?>"/>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Логотип:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <?=$logo_input.$logo_btn?>
                </td>
            </tr>
        </table>
        
        
        <br/>
        <span style="color: #cc0000; font-size: 0.7em;"><?=sprintf(MESSAGE_WRONG_IMAGE_FORMAT, 3000)?></span>
    </div>
    <!--<?=$short_descript?>-->
    <?=$full_descript?>
    <table width="98%" class="contacts">
        <tr>
            <td width="49%" valign="top">
               <p class="gray">Контакты представителя:</p> 
               <?=$name?>
               <?=$phone1?>
               <?=$phone2?>
               <?=$adress?>
               <?=$email?>
               <!--<p class="gray normal" style="top:-3px;">Все магазины компании</p><?=$show_all_shop?> -->
            </td>
               
            <td valign="top">
               <p class="gray">Контакты компании:</p> 
               <?=$company_phone1?>
               <?=$company_phone2?>
               <?=$company_phone3?>
               <?=$company_adress?>
               <?=$company_email?>
              <!-- <?=$company_site?>-->
            </td>
        </tr>
    </table>
    
    <?php if ($company_url){?>
    <a href="<?=$company_url?>" target="_blank">Посмотреть сайт компании</a><br><br>
    <?php }?>
    <?=$save?>

 
    <input type="hidden" name="company_id" value="<?=$user_id?>" />
    <input type="hidden" name="images" value="<?=$company_data['images']?>" />
    <input type="hidden" name="session" value="<?=md5($user_id.'check')?>" />
</form>
<?php } else{?>
<?php if(!$count_ads) {?>
  <?=NULL_ADS?>
<?php }else{?>
  <?=PAY_COMPANY_SITE_TEXT?>
  <?php }?>
<?php }?>
<script>       
    
    jQuery(document).ready(function(){
        var status = jQuery('#system-message-container');
        
        jQuery("#form_company_site").submit(function(){
           jQuery('#form_company_site input[type="text"], #form_company_site select, #form_company_site textarea').removeClass('red'); 
           jQuery('div.loading').fadeIn(200);
           jQuery.post("/modules/mod_company_site/tmpl/add_company.php", jQuery("#form_company_site").serialize(),function(response){ // добавляем объявление
               response = response.split('##');
               

                if(response[0]==="success"){ // успех
                   status.html('<div class="message">'+response[1]+'</div>');
                   alert(response[1]);
                   document.location.href="<?="index.php?Itemid=133"?>";
                }
                else{ // добавить не получилось
                  status.html('<div class="inner error">'+response[0]+response[1]+'</div>');
                  alert("Форма заполнена не верно!");
                  if (response[2] != ''){
                        var fields_error = JSON.parse(response[2]);
                        for(i=0; i < fields_error.length; i++){
                            jQuery('#form_company_site *[name="'+fields_error[i]+'"]').addClass('red');
                        }
                    }
                }
                jQuery('div.loading').fadeOut(200);
           });
           
           return false;
       }); 

    });
</script>