p.gray{color: #735b31; font-size: 20px;}

p.gray.normal{
    font-size: 16px;
    margin: 0;
    display: inline;
    position: relative;
    margin-right: 10px;
}

p.big{font-size: 25px;}

.block_in{
    margin-bottom: 18px;
}

#form_company_site input[name="company_name"]{
            width:430px;
        }
        

#form_company_site textarea{
    width: 98%;
    height: 145px;
}

#form_company_site textarea[name="full_descript"]{
    height: 260px;
}

#form_company_site .contacts input{
    width: 287px;
}

#form_company_site *[type="button"], #form_company_site *[type="submit"]{
    background: url("/templates/compas_main/img/bg-button-filter-act.jpg");
    height: 33px;
    border-radius: 5px;
    border: 0;
    width: auto;
    display: inline-block;    
    padding: 0 15px;
    padding-bottom: 3px;
}

#form_company_site *[type="button"]:hover, #form_company_site *[type="submit"]:hover{
    background: url("/templates/compas_main/img/bg-button-filter.jpg");
}

#form_company_site input[name="images_view"]{
    width: 210px;
    padding-right: 15px;
}


#upload{
    position: relative;
    left:-25px;
    top:-1px
}

.show_img{
    height: 42px;
}

.show_img img{
    max-width: 100%;
    height: 42px;
}

#form_company_site input[type="text"]{
    height: 33px;
}