<link rel="stylesheet" href="/modules/mod_add_ads/tmpl/style.css" type="text/css" />
<link rel="stylesheet" href="/templates/compas_main/jquery.formstyler.css" type="text/css" />
<script src="/templates/compas_main/js/ajaxupload.3.5.js"></script>

<form id="form_add_ads" method="POST"> 
    <table width="100%">
        <tr>
            <td valign="top" width="320">
                <div class="img_cont">
                    <ul id="files">
                        <?php if ($ads_id || !$ads_user->ad_avatar){?>
                        <li class="main <?php if(!$ads->main_thumb_image) {?>no_photo<?php }?>"><?php if($ads->main_thumb_image) {?><img src="/images/com_ads/<?=$ads->main_thumb_image?>" file="<?=$ads->main_image?>" /><a href="#" class="del" onClick="_delete(jQuery(this)); return false;">Удалить</a><?php }?></li>
                        <?php } else if ($ads_user->ad_avatar){?>
                        <li class="main"><img src="<?=$ads_user->ad_avatar?>" file="<?=$ads_user->ad_avatar?>" /><a href="#" class="del" onClick="jQuery('li.main').html(''); jQuery('li.main').addClass('no_photo'); return false;">Удалить</a></li>
                        <?php }?>
                    </ul>
                </div>
            </td>
            <td valign="top">
                <?=$head?>
                <?=$btn_load?>
                <div class="block_in info" style="color: #cc0000; font-size: 0.7em;"><i><?php echo sprintf(MESSAGE_WRONG_IMAGE_FORMAT, (MAX_FILE_AVATAR_SIZE/1000).' мб')?></i></div>
                <?=$comment_field?>
                
                
            </td>
        </tr>
    </table>
    <table width="976">
        <tr>
            <td valign="top" width="510" align="right">
                <?=$city_field?>
                <?=$rayon_field?>
                <?=$metro_field?>
            </td>
            <td valign="top" align="right"  class="right block1">
                <?=$email?>
                <?=$site?>
                <?=$regim?>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top" align="right" class="block2">
                <?=$adress?>
                <?=$phone1?>
                <?=$phone2?>
                <?=$phone3?>
            </td>
            <td valign="top" align="right" class="block3">
                <?=$cost_category?>
            </td>
        </tr>
    </table>
    <br /><br />
    <div class="info" style="color: #cc0000; font-size: 0.9em;"><i><?=CATEGORY_NOT_FOUND?></i></div>
    <br />
    <?=$list_razdel?>
    <?=$list_category?>
    <br style="clear: both;" />
    <?=$list_subcategory?>
    <div class="info" style="color: #cc0000; font-size: 0.9em;"><i><?=CATEGORY_NOT_FOUND?></i></div>
    <br />
    <div class="block6">
        <div class="all_brands">
            <?=$brand?>
        </div>
        <br style="clear: both;" />
        <div class="info" style="color: #cc0000; font-size: 0.7em;"><i>Вы можете добавить до <?=MAX_BRAND_NUM?> брендов</i></div>
    </div>
    <div class="system_message" style="margin-top:10px;"><div></div></div>
    <br style="clear: both;" />
    <?=$map?>
    <?=$submit_btn?>
    <?=$delete_btn?>
    <input type="hidden" name="published" value="1" />
    <input type="hidden" name="user_id" value="<?=$user_id?>" />
    <input type="hidden" name="images" value="" />
    <input type="hidden" name="ads_id" value="<?=$ads_id?>" />
    <input type="text" value="" validate_error="Выберите хотя бы одну ценовую категорию..." name="cost_category" style="display: none;" />
    <input type="text" value="" name="list_category" style="display: none;" />
    <input type="hidden" value="<?=DEFAULT_BRAND_VAL?>" id="default_brand_val" />
    <input type="text" value="" name="brands" style="display: none;" />
    <?php if($isAdmin){?>
    <input type="hidden" name="u_attr" value="<?=md5('is_admin')?>"/>
    <?php }?>
</form>

<?php
Utils_Helpers::var_to_js(array(
        'def_brand_val' => DEFAULT_BRAND_VAL,
        'max_num_brand' => MAX_BRAND_NUM

));
?>
<script src="/geo/js/brands.js"></script>
<script src="/geo/js/category_changer.js"></script>
<script src="/geo/js/autocomplete_brands.js"></script>