.block_in{position: relative;}
div.img_cont{ width: 300px; height: 205px;}
label {color:#414042; padding-right: 10px;}
input[type="text"], textarea{border: 1px solid #e0e1e1; height: 19px; font-size: 13px; line-height: normal; padding: 0 5px; color:#414042;}
input[name="head"]{width: 400px;}
.block_in{ margin-bottom: 10px;}

input[type="text"].red, textarea.red, .block_in select.red, td.block3 > div.red{border-color: red;}
td.block3 > div{padding: 5px;}
td.block3 > div.red{border: 1px solid red;}

input[name="load"]{position: relative; left:13px;}
textarea[name="descript"]{width: 560px; height: 151px; left:72px; position: relative; color:#414042;}

.block_in.comment label{position: absolute; top:0; width: 70px; display: block;}
.block_in.info{padding-left: 70px;}

#files{margin: 0; padding: 0; position: relative;}
#files li.main{display: block; width: auto;}

#files li img{width: 299px; height: 204px;}

a.del{display: block; position: absolute; right: 1px; bottom: 4px; background: #9f8d5f; font: italic 12px Trebuchet; color:#fff; padding: 1px 5px; text-decoration: none; border: 1px solid #d9d1bf;}
.block_in select, .block_in input[type='text']{width: 360px; font-size: 13px; border: 1px solid #e0e1e1;}

td.block1 input{ width: 298px;}
td.block2 input{width: 408px;}
td.block3 select{width: 298px;}

.wrap-checkbox{margin-left: 10px;}
.block3{margin-left: 42px; max-width: 900px; clear: both; height: 20px;}
.block3.block4{/*height: 80px;*/ margin-left: 5px; clear: both; min-height: 320px;}
.block3 label, .block5 label{ font: 12px Trebuchet; line-height: 16px;}
.block5{width: 440px; float: left;}
.subcont{display: inline-block;}


div.cont{float: left; margin-bottom: 10px; width: 200px;}
div.cont.conttt{ width: auto;}
/*div.cont92, div.cont94, div.cont95, div.cont97, div.cont86, div.cont85, div.cont80{ margin-left: 69px;}*/

.block_in div.category div.cont{ float: none;}
.block_in div.category{float: left; width: 200px;}

div.hide label{color:#ebecec;}

td.block3 div{width:424px; text-align: left;}
td.block3 .cont{width: 108px; display: inline-block; text-align: left;}
td.block3 .cont.label{width: 120px;}

span.item2{margin-left: 120px;}

.block_in .subcont{ width: 192px;}
.block_in .subcont{ width: 192px;}

div.hide > span.title{color:#ebecec;}

.block6{margin-left: 42px;}
.block6 input[type="text"]{width: 408px; font-style: italic;}
.block6 .block_in{float: left;}
.block6 input[type="button"]{background: #4f4f4f; border: 0; color: #fff; font: italic 12px Trebuchet; margin-left: 10px; position: relative; top:-1px;}
.block6 input[type="button"].add{ display: none;}
.block6 input[type="button"].delete{ background: #9f8d5f;}
.block6 .item{clear: both;}
.block6 .item:last-child input[type="button"]{display: inline;}
.block6 .item:last-child input[type="button"].delete{display: none;}
.block6 .info{margin-left: 45px;}
.block_in.map_api{position: relative; padding-left: 65px; margin-left: 25px;}
.block_in.map_api textarea{width: 560px; height: 80px;}
.block_in.map_api label{position: absolute; top:0; left:0; }

.block_in.map_api a{color: #333333; margin-right: 25px;}
.block_in.map_api div{font-size: 13px;}

input[name="go"], input[name="delete"]{background: #4f4f4f; border: 0; color: #fff; font: italic 14px Trebuchet; margin-left: 380px; margin-right: 10px; display: inline-block; height: 24px; }
input[name="delete"]{background: #9f8d5f; margin: 0;}

.redtext{color: #cc0000;}

#form_add_profile .wrap-checkbox-inner{
    left: -3px;
}

span.label{color:#414042;}
#form_add_profile span.item2{left:5px; position: relative;}
#form_add_profile  span.item3{left:10px; position: relative;}